.dock-layout-container {
  width: 100%;
  height: 100%;
}

.dock-layout-splitter.horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.dock-layout-splitter.vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
